@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: "Suisse Intl";
  src: url("../../public/assets/fonts/SuisseIntl-Regular.ttf");
}

html {
  scroll-behavior: smooth;
}

@layer base {
  * {
    @apply transition-all duration-200;
  }

  h1, h2, h3, h3, p, a:not(nav), time, li, span {
    @apply text-zinc-50;
  }

  h1 {
    @apply text-3xl md:text-6xl !important;
  }
  h2 {
    @apply text-xl md:text-3xl !important;
  }

  h3 {
    @apply text-xl;
  }

  input, label, textarea {
    @apply border-custom-dark;
  }

  a {
    @apply no-underline text-primary hover:underline;
  }

  strong {
    @apply text-primary text-lg font-bold;
  }
}

@layer components {
  .gradient {
    background: linear-gradient(180deg, #06050b 0%, #040267 35%, #06050b 72%, #06050b 100%);
  }
  .btn-primary, .primary {
    @apply px-6 py-4 flex justify-center items-center text-custom-dark font-bold bg-primary rounded-sm hover:text-primary hover:bg-transparent border-2 border-transparent hover:border-primary;
  }
  
  .alter-black {
    @apply px-6 py-4 flex justify-center items-center text-primary font-bold bg-custom-dark rounded-sm hover:text-custom-dark hover:bg-transparent border-2 border-transparent hover:border-custom-dark;
  }

  .link {
    @apply no-underline text-primary hover:underline;
  }

  .custom-input {
    @apply border-b-2 bg-transparent focus:outline-none target:border-0 transition-none;
  }
}

